<style>
  button{
    padding: 0.5rem;
    background-color: rgb(153, 46, 180);
    color: white;
  }

  img{
    max-width: 500px;
  }

  ul{
    list-style: none;
  }
</style>

<h1>Contador {{sumIncrement()}}</h1>
<div>
  <button (click)="incrementar()" type="button">Incrementar</button>
  <button (click)="decrementar()" type="button">Decrementar</button>
</div>

@if(sumIncrement() > 0){
  <p>Contador maior que zero</p>
}

@if(sumIncrement() === 0){
  <p>Contador igual a 0</p>
}

@if(sumIncrement() < 0){
  <p>Contador menor que 0</p>
}

<h1>Mostrar imagens</h1>
<div>
  <button type="button" class="prev" (click)="retrocederImagem()">Anterior</button>
  <button type="button" class="next" (click)="procederImagem()">Próximo</button>
</div>
<img [src]="imagensList()[indexImagemAtual()]" alt="Imagem"/>

<h1>To Do List</h1>
{{currentTask()}}<br>
<input type="text" name="tarefa" id="input-tarefa" [(ngModel)]="currentTask">
<button type="button" (click)="enviar()">Enviar</button>
<ul class="to-do">
  @for(task of listaTarefas(); track $index){
    <li>{{task}}</li>
  }
</ul>