@charset "UTF-8";

/*
    VARIÁVEIS
*/
:root{
   --navbar-background: #F0F2F5;
   --navbar-border: #d6d5d5;
   --focused-menu-icon: #8151fd; /* ou #8151fd #5603ad*/
}

/*

*/

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    height: 100vh;
    width: 100%;
 }

 main.container-main{
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
 }

 /*
    GENÉRICO
 */

 .hidden{
   display: none;
 }

/*
    MENU LATERAL
*/

 aside.aside-menu{
    height: 100vh;
    min-height: 4rem;
    background-color: var(--navbar-background);
    border-right: thin solid var(--navbar-border);
 }

 nav.menu{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 div.filters{
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

div.settings{
   display: flex;
   flex-direction: column;
}

 div.box-menu-button{
   display: flex;
   justify-content: center;
   padding: 0.25em;
   box-sizing: content-box;
   width: 3.5em;
   height: 3em;
   cursor: pointer;
}

div.box-menu-button:hover{
   background-color: #fafafa;
}

div.border-left-menu-button{
   display: flex;
   align-content: center;
   padding: 0.55em;
}

nav.menu button.button-filter, button.button-setting, button.button-account{
   padding: 0.5em;
   background-color: transparent;
   border: 0;
}

nav.menu img.img-account-menu{
   width: 2.5em;
   border-radius: 50%;
}

svg.full{
   fill: var(--focused-menu-icon);
   color: var(--focused-menu-icon);
}

svg.full path{
   fill: var(--focused-menu-icon);
   width: 1.5em;
   height: 1.5em;
}

svg.full path.colored-stroke{
   stroke: var(--focused-menu-icon);
}

 /*
    CONTATOS
 */

div.contact{
    height: 100%;
    overflow-x: visible;
}

article.body-contact{
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
}