@charset "UTF-8";

/*
    VARIÁVEIS
*/
:root{
   --navbar-background: #F0F2F5;
   --partition-boundary-edge-color: #d6d5d5;
   --focused-menu-icon: #8151fd;
   --menu-button-box-hover-color: #fafafa;
}

/*

*/

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    height: 100vh;
    width: 100%;
 }

 main.container-main{
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
 }

 /*
    GENÉRICO
 */

 .hidden{
   display: none;
 }

/*
    MENU LATERAL
*/

 aside.aside-menu{
    height: 100vh;
    min-height: 4rem;
    background-color: var(--navbar-background);
    border-right: thin solid var(--partition-boundary-edge-color);
 }

 nav.menu{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 div.filters{
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

div.settings{
   display: flex;
   flex-direction: column;
}

 div.menu-button-box{
   display: flex;
   justify-content: center;
   padding: 0.25em;
   box-sizing: content-box;
   width: 3.5em;
   cursor: pointer;
}

div.menu-button-box:hover{
   background-color: var(--menu-button-box-hover-color);
}

div.left-edge-menu-button{
   display: flex;
   align-content: center;
   padding: 0.55em;
}

nav.menu button.button-filter, button.button-setting, button.button-account{
   padding: 0.5em;
   background-color: transparent;
   border: 0;
   cursor: pointer;
   display: inline-flex;
   align-content: center;
}

nav.menu button.button-account{
   padding: 0 0.1em;
}

nav.menu img.img-account-menu{
   width: 2.5em;
   border-radius: 50%;
}

svg.full{
   fill: var(--focused-menu-icon);
   color: var(--focused-menu-icon);
}

svg.full path{
   fill: var(--focused-menu-icon);
   width: 1.5em;
   height: 1.5em;
}

svg.full path.colored-stroke{
   stroke: var(--focused-menu-icon);
}

div.menu-button-box:hover svg.bordered{
   display: none;
}

div.menu-button-box:hover svg.full{
   display: block;
}

div.left-edge-menu-button.border-active svg.bordered{
   display: none;
}

div.left-edge-menu-button.border-active svg.full{
   display: block;
}

/* Seleção "chumbada" */

div.left-edge-menu-button.border-active{
   border-right: 0.2em solid transparent;
   border-left: 0.2em solid var(--focused-menu-icon);
}

 /*
    CONTATOS
 */

div.contact{
    height: 100%;
    overflow-x: visible;
    min-width: 20em;
    border-right: thin solid var(--partition-boundary-edge-color);
}

header.head-contact{
   padding: 0 1em;
}

header.head-contact div.container-head-menu{
   display: flex;
   align-content: center;
   justify-content: space-between;
}

div.container-head-menu nav.menu-contact{
   display: flex;
   align-items: center;
}

article.body-contact{
   max-height: 100%;
   overflow-y: scroll;
   scrollbar-width: thin;
}

article.body-contact section.contact{
   padding: 0 1em;
}